.mainContainer {
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    background-color:bisque;
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-size: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.containerHome{
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    background-color:bisque;
    margin: 15px;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 0px;
    text-align: center;
    text-size-adjust:initial;
    width: 200px;
    height: 220px;
    font-size: 70%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.containerForm{
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    background-color:bisque;
    margin: 2px;
    padding: 0px;
    text-align: center;
    height: 110px;
    width: 110px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  
}


.image{
    align-items: center;
    border-radius: 15px;
    max-height: 100px;
    max-width: 100%;
    width: auto;
    border-style: solid;
    border-color: black;
    padding: 0px;
    margin: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.imageF{
    justify-content:baseline;
    border-radius: 15px;
    max-height: 30px ;
    width: auto;
    border-style: solid;
    border-color: black;
    margin: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.nombre{
   font-size: 24px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.nombreF{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}